#main{
	padding:200px 300px;
	align:"center";
	background-color:#ccff99;
	align:center;
}

h1{
	padding:0 155px;
	font-family:Georgia;
}

img.all{
	width:160px;
	height:160px;
	border:solid black 3px;
	border-radius:20px;
}